*{
    margin: 0;
    padding: 0;
}

.start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    button{
        border: none;
        border-radius: 25%;
        padding: 1.10rem;
        background-color: yellowgreen;
        &:hover{
            background-color: darken($color: yellowgreen, $amount: 10%);
        }
        &:active{
            background-color: darken($color: yellowgreen, $amount: 20%);
        }
    }
}
#counter{
    display: flex;
    
}
